.DS_Store
.vscode
.idea
tmp
*.code-workspace

__pycache__
venv
env/
*.env
!.example.env
.coverage
coverage.xml
.python-version

viu/dev/
viu/db.sqlite3
viu/secrets*.json

viu/node_modules/
viu/package-lock.json

viu/epic_keys/
epic_keys/
viu/hub_keys

viu/.openapi-generator
viu/account_README.md
viu/bolt_README.md
viu/hubrater_README.md